
h1 {
    font-size: clamp(4rem, 15vw, 7rem);
    color: greenyellow;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#splash {
    display: flex;
    margin: 50px 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
}

#splash img {
    width: 50vw;
    border-radius: 10%;
    -webkit-user-drag: none;
    user-drag: none;
}

#splash figcaption {
    display: block;
}
