
h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: clamp(5rem, 17vw, 7rem);
    color: rgb(207, 113, 253);
    text-align: center;
    line-height: 100%;
    position: relative;
}

.job-title {
    text-align: center;
    font-size: clamp(1rem, 5vw, 4rem);
    width: 100vw;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#splash {
    display: flex;
    margin: 80px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
    user-select: none;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
    border-radius: 10%;
    pointer-events: none;
    max-width: 300px;
    flex-wrap: wrap;
}

#splash-container {
    width: auto;
    align-content: space-evenly;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px
}

[class^="devicon"] {
    font-size: 80px;
    margin: 0px;
    z-index: 1;
    color: rgb(207, 113, 253);
    display: block;
}

.skill-element {
    flex-wrap: wrap;
    width: 80px;
    height: 100px;
    text-align: center;
    z-index: 0;
}

.project-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}


.project-element {
    display: flex;
    flex-direction: row;
}

.project-element:nth-child(even) {
    flex-direction: row-reverse;
}