:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    --background-color: #f8f8ff;
    --text-color: #2f2f2f;
    --background: linear-gradient(
        135deg,
        #ff6f91 0%,
        #ff9671 25%,
        #ffc75f 50%,
        #f9f871 75%,
        #00c9a7 100%
    );
    --header-color: #333;
	--icons: #003028;
}

.light-mode {
    --background-color: #f8f8ff;
    --text-color: #2f2f2f;
    --header-color: #333;
    --background: linear-gradient(
        135deg,
        #ff6f91 0%,
        #ff9671 25%,
        #ffc75f 50%,
        #f9f871 75%,
        #00c9a7 100%
    );
	--icons: #2f2f2f;
}

.dark-mode {
    --background-color: #2f2f2f;
    --text-color: #f8f8ff;
    --header-color: #f8f8ff;
    --background: linear-gradient(
        135deg,
        #1a252f 0%,
        #22303b 25%,
        #2b3c48 50%,
        #344956 75%,
        #3e5664 100%
    );
	--icons: #00c9a7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --text-color: #f8f8ff;
        --background: linear-gradient(
            135deg,
            #1a252f 0%,
            #22303b 25%,
            #2b3c48 50%,
            #344956 75%,
            #3e5664 100%
        );
        --header-color: #e0e0e0;
    }
}

body {
	scroll-snap-type: block;
	color: var(--text-color);
	background-color: var(--background-color);
	background: var(--background);
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

html,
body {
	size: 100%;
}

body {
	padding: 0 20px;
}

h2,
h3 {
	font-family: "Patrick Hand", cursive;
	font-size: 2em;
}

h1 {
	margin: 0;
	color: var(--header-color);
}

h2 {
	scroll-snap-align: start;
}

[class^="devicon"] {
    font-size: 80px;
    margin: 0px;
    z-index: 1;
    color: var(--icons);
    display: block;
}