:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	--text-color: #2f2f2f;
	--secondary-text-color: #512cbe;
	--background: #ebf2f3;
	--header-color: #333;
	--icon-hover: #ebd2f5;
	--icons: #8ba9bf;
	--interests-text: #f6edf9;
}

body,
html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

html {
	background-color: #2f2f2f;
}

.light-mode {
	--text-color: #2f2f2f;
	--secondary-text-color: #512cbe;
	--background: #ebf2f3;
	--header-color: #333;
	--icon-hover: #d2d7f5;
	--icons: #8b97bf;
	--interests-text: #f6edf9;
}

.dark-mode {
	--text-color: #f8f8ff;
	--secondary-text-color: #f642c9;
	--header-color: #f8f8ff;
	--background: #111d4d;
	--icons: #85fcea;
	--icon-hover: #ae46eb;
	--interests-text: #111d4d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #f8f8ff;
		--secondary-text-color: #f642c9;
		--header-color: #f8f8ff;
		--background: #111d4d;
		--icons: #85fcea;
		--icon-hover: #ae46eb;
		--interests-text: #111d4d;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

nav {
	background-color: var(--background);
}

body {
	color: var(--text-color);
	background: var(--background);
	margin: 0;
}

h1 {
	margin: 0;
	color: var(--header-color);
}

h2,
h3 {
	font-size: 3rem;
	font-family: "Tenor Sans", "Montserrat", sans-serif;
}

section {
	text-align: justify;
	display: flex;
	flex-direction: column;
}

[class^="devicon"] {
	font-size: 80px;
	margin: 0px;
	z-index: 1;
	display: block;
	background: linear-gradient(
		150deg,
		var(--icons) 50%,
		var(--icon-hover) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

button {
	color: var(--text-color);
	border-radius: 0;
	height: auto;
	background-color: transparent;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	overflow: hidden;
	border: none;
}

a,
a:visited {
	text-decoration: none;
	color: var(--text-color);
}

a {
	font-weight: 300;
}

svg {
	fill: var(--icons);
}

.link-hover {
	position: relative;
	margin: 0;
	padding-bottom: 10px;
}

.link-hover::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: var(--icons);
	opacity: 90%;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 250ms ease-in;
	border-radius: 1px;
}

.link-hover:hover::after {
	transform: scaleX(0.4);
}

ul {
	list-style-type: none;
	padding: 0;
}

.spinner {
	border-radius: 50%;
	animation: spinner 1s infinite linear;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid #e2e7e9;
	margin: 0 auto;
}
@keyframes spinner {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}

	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}
