:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
	font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    --text-color: #2f2f2f;
    --background: linear-gradient(
        135deg,
        #ff6f91 0%,
        #ff9671 25%,
        #ffc75f 50%,
        #f9f871 75%,
        #00c9a7 100%
    );
    --header-color: #333;
	--icons: #0a2722;
}

html {
    margin: 0;
    padding: 0;
    scroll-snap-type: y proximity;
    -webkit-scroll-snap-type: y proximity;
}

.light-mode {
    --text-color: #2f2f2f;
    --header-color: #333;
    --background: linear-gradient(
        135deg,
        #ff6f91 0%,
        #ff9671 25%,
        #ffc75f 50%,
        #f9f871 75%,
        #00c9a7 100%
    );
	--icons: #2f2f2f;
}

.dark-mode {
    --text-color: #f8f8ff;
    --header-color: #f8f8ff;
    --background: linear-gradient(
        135deg,
        #1a252f 0%,
        #22303b 25%,
        #2b3c48 50%,
        #344956 75%,
        #3e5664 100%
    );
	--icons: #00c9a7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f8f8ff;
		--header-color: #f8f8ff;
        --background: linear-gradient(
            135deg,
            #1a252f 0%,
            #22303b 25%,
            #2b3c48 50%,
            #344956 75%,
            #3e5664 100%
        );
		--icons: #00c9a7;
    }
}

body {
	color: var(--text-color);
	background: var(--background);
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
        scroll-behavior: auto;
    }
}

h1 {
    margin: 0;
    color: var(--header-color);
}

h2,
h3 {
	font-family: "Encode Sans", sans-serif;
	font-size: 2em;
}

#splash, .card, h2 {
	scroll-snap-align: start;
}

section {
    padding: 2em;
    text-align: justify;
}

[class^="devicon"] {
    font-size: 80px;
    margin: 0px;
    z-index: 1;
    color: var(--icons);
    display: block;
}

button {
    color: var(--text-color);
    border-radius: 0;
    height: auto;
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

a, a:visited {
    text-decoration: none;
    color: var(--text-color);
}

a {
    font-weight: 500;
}

svg {
    fill: var(--icons);
}